
<header class=main-header>
    <nav class="main-header-top-bar">
         
        <div class="barra-izquierda">

            <a href="/"><img src="/img/logoGamerLabBlanco.png" class="logo" alt="Logo GamerLab"></a>

            <a class="icono-burger"><i class="fas fa-bars fa-10x"></i></a>
                        
        </div>
        
        <div class="barra-derecha">

            <div class="searchbar">
                <form class="search-form" action="/products/search" method="GET">
                    <input name="keyword" type="text" id ="formulario" class="barra-buscadora" placeholder="Busca productos">
                    <button class="search-button" id = "boton" type="submit">
                        <i class="fas fa-search fa-2x"></i>
                    </button> 
                </form>
            </div>
            
            <% if (locals.isLogged) { %>

            <div class="barra-logeado">  
                
                <img src="/img/avatars/<%=locals.userLogged.imagen %>" style="border-radius: 100%" class="avatarpequeño">
                
                <ul class="ul-opciones">
                    <li class="item-logeo"><a href="#!"> Hola <%= locals.userLogged.nombre %></a></li> 

                        <li class="item-logeo"><a class="" href="/users/logout">Cerrar sesión</a></li>
                    </ul>
            </div> 

            <% } else { %>

                <li><a href="/users/register"><i class="fas fa-sign-in-alt fa-2x"></i></a></li>
                <li><a href="/users/login"><i class="fas fa-user-circle fa-2x "></i></a></li>
                
            <% } %>

    <!--      
         <div id="carrito">
            <a href="/users/cart"><img src="/img/carrito-de-compras.png"class="nav-link dropdown-toggle img-fluid" height="70px"
                width="70px" href="#" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"></img></a>
                <div id="carrito"></div>
                <table id="lista-carrito" class="table">
                    <thead>
                        <tr>
                            <th>Imagen</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

                <li><a href="#" id="vaciar-carrito" class="btn btn-primary btn-block">Vaciar Carrito</a></li>
                <li><a href="/users/cart" id="procesar-pedido" class="btn btn-danger btn-block">Procesar Compra</a></li>
            </div>
            
    -->  

        </div>  

    </nav>

    <div class="main-header-bottom-bar">

    <ul class="menu-productos1">
        <li><a href="/products/producto">Todos los productos</a></li>
        <li><a href="#!">Notebooks</a></li>
        <li><a href="#!">Monitores</a></li>
        <li><a href="#!">Teclados y mouses</a></li>
        <li><a href="#!">Audio</a></li>
        <li><a href="#!">Placa de video</a></li>
        <li><a href="#!">Armá tu PC</a></li>
        <li><a href="#!">Sillas y escritorios</a></li>
     </ul>

    </div>
    <script src="/js/carrito.js"></script>
    <script src="/js/pedido.js"></script>
    <script src="/js/compra.js"></script>


</header>