<header class=main-header>
    <div class="main-header-top-bar">
         <a href="/"><img src="/img/logoGamerLabBlanco.png" class="logo" alt="Logo GamerLab"></a>
        
                <form action="/search" method="GET" class="search-form">
                    <input type="text" class="search-form-input" placeholder="Busca productos">
                    <button class="search-button" type="submit">
                        <div class="icono-lupa"><i class="fas fa-search"></i></div>
                    </button> 
                </form>
            </div>
            </div>
         <a href="#" class="icono-burger">
             <i class="fas fa-bars fa-2x"></i></a>

        <nav class="menu-productos">
            <ul class="barra-izquierda">
               <li><a href="#Notebooks">Notebooks</a></li>
               <li><a href="#Monitores">Monitores</a></li>
               <li><a href="#TecladosYMouses">Teclados y mouses</a</li>
               <li><a href="#ArmaTuPC">Armá tu PC</a</li>
               <li><a href="#Mobiliario">Sillas y escritorios</a</li>
                <li><a href="/producto">Todos los productos</a</li>
            </ul>
        <div class="barra-derecha">
            <li><a href="/users/register"><i class="fas fa-sign-in-alt fa-2x"></i></a></li>
            <li><a href="/users/login"><i class="fas fa-user-circle fa-2x "></i></a></li>
            <li><a href="/users/carrito"><i class="fas fa-shopping-cart fa-2x"></i></a></li>
        </div>
        </nav>
</header>