<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerLab - Cart</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <%- include('./../views/partials/header') %>
    <main>
        <h3 class="carrito-titulo">Carrito de compras</h3>

        <div class="contenedor-resumen">

           <div class="resumen">

               <ul>
                   <li class="titulo-resumen">Resumen</li>
                </ul>

               <ul class="datos">
                 <li>Subtotal</li>
                 <li class="precio">$25.000</li>
               </ul>

               <ul class="datos">
                <li>Total del pedido</li>
                <li class="precio">$25.000</li>
               </ul>
               
           </div>

             <hr class="divisor">

            <label for="descuento"></label>
            <input type="text" name="descuento" id="descuento" placeholder="Ingresar código de descuento" size="25">

            <div class="cuotas-texto-icono"><i class="fas fa-credit-card"><a href="#" class="cuotas">Calculá las cuotas con tu medio de pago</a></i></div>

            <label for="finalizar-compra"></label>
            <input type="button" id="finalizar-compra" name="finalizar-compra" value="Finalizar compra" class="finalizar-compra">
           
        </div>   
        <div class="contenedor-items">
            <h6 class="item-titulo">Item</h6>
            <hr class="divisor">
            
            <div class="contenedor-teclado">
              <img src="/img/teclado.jpg"  class="teclado" alt="Teclado Gamer">
              <p class="teclado-datos">Teclado Gamer Redragon Shiva K512rgb</p>

              <div class="datos-pago">
                <div class="lista-nido">
                      <ul class="inside-precio">
                        <li>Precio:</li>
                        <li>$5.000</li>
                      </ul>
                      <ul class="inside-cantidad">
                        <li><label for="cantidad">Cantidad:</label></li>
                        <li><input type="number" id="cantidad" name="cantidad" value="1" min="1" max="5"></li>
                      </ul>
                      <ul class="inside-subtotal">
                        <li>Subtotal:</li>
                        <li>$5.000</li>
                      </ul>
                </div>
                
                <div class="botones-carrito">
                    <input type="button" value="Editar" name="editar" id="Editar">
                    <input type="button" value="Remover item" name="remover" id="remover">
                </div> 

              </div>
            </div>

            <hr class="divisor">
         <div class="contenedor-monitor">
            <img src="/img/monitor.jpg"  class="monitor" alt="Monitor Gamer">
            <p class="monitor-datos">Gezatek Monitor Gamer LG 24GL6 24 </p>

            <div class="datos-pago">
                <div class="lista-nido">
                    <ul class="inside-precio">
                        <li>Precio:</li>
                        <li>$20.000</li>
                    </ul>
                    <ul class="inside-cantidad">
                        <li><label for="cantidad">Cantidad:</label></li>
                        <li><input type="number" id="cantidad" name="cantidad" value="1" min="1" max="5"></li>
                    </ul>
                    <ul class="inside-subtotal">
                        <li>Subtotal:</li>
                        <li>$20.000</li>
                    </ul>
                </div>
                <input type="button" value="Editar" name="editar" id="Editar">
                <input type="button" value="Remover item" name="remover" id="remover">
            </div>
            
        </div>
    </main>
    <%- include('./../views/partials/footer') %>
</body>
</html>