<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerLab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="./css/estilos.css">
</head>
<body>
    <header>
        <nav class="barra-entera">
            <ul class="barra-izquierda">
              <li class="icono-burger"><i class="fas fa-bars fa-2x"></i></li>
                <ul class="menu-productos">
                   <li><a href="#Notebooks">Notebooks</a></li>
                   <li><a href="#Monitores">Monitores</a></li>
                   <li><a href="#TecladosYMouses">Teclados y mouses</a</li>
                   <li><a href="#Audio">Audio</a</li>
                   <li><a href="#PlacaDeVideo">Placa de video</a</li>
                   <li><a href="#ArmaTuPC">Armá tu PC</a</li>
                   <li><a href="#Mobiliario">Sillas y escritorios</a</li>
                </ul>
            </ul>
            <img src="/img/logoGamerLab.png" class="logo" alt="Logo GamerLab">
            <ul class="barra-derecha">
                <li><input type="text" class="barra-buscadora"></li>
                <li><i class="fas fa-search"></i></li>
                <li><i class="fas fa-user-circle"></i></li>
                <li><i class="fas fa-shopping-cart"></i></li>
            </ul>        
        </nav>
    </header>
    <hr>
    <main>

    </main>
</body>
</html>