<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerLab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <%- include('./../views/partials/header') %>
  <form action="/inicio-usuario" method="POST" class="formulario-login">
  <div class="izq">
      <div class="usuariologin"><i class="fas fa-sign-in-alt"></i></div>
    <div class="control-formulario">
        <label>Nombre de Usuario:</label>
        <input type="text" name="usuario" class="usuario" placeholder="Nombre de usuario">
    </div>
    <div class="control-formulario">
        <label>Contraseña:</label>
        <input type="password" name="contraseña" class="contraseña" placeholder="Contraseña">
    </div>
       
    <button type="submit" class="boton-formulario">Iniciar Sesión</button>
 </div>
 <div class="derecha">
     <img src="/img/img-login.jpg" alt="img-login" class="img-login">
 </div>
  </form>
</main>
<%- include('./../views/partials/footer') %>
</body>
</html>