<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GamerLab</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/css/estilos.css">
</head>
<body>
    <header>
        <nav class="barra-entera">
             <a class="icono-burger"><i class="fas fa-bars fa-2x"></i></a>
             <img src="/img/logoGamerLabBlanco.png" class="logo" alt="Logo GamerLab">
            <ul class="barra-izquierda">
                <ul class="menu-productos">
                   <li><a href="#Notebooks">Notebooks</a></li>
                   <li><a href="#Monitores">Monitores</a></li>
                   <li><a href="#TecladosYMouses">Teclados y mouses</a</li>
                   <li><a href="#Audio">Audio</a</li>
                   <li><a href="#PlacaDeVideo">Placa de video</a</li>
                   <li><a href="#ArmaTuPC">Armá tu PC</a</li>
                   <li><a href="#Mobiliario">Sillas y escritorios</a</li>
                </ul>
            </ul>
            
            <ul class="barra-derecha">
                <a><input type="text" class="barra-buscadora"></a>
                <li><i class="fas fa-search"></i></li>
                <li><i class="fas fa-user-circle"></i></li>
                <li><i class="fas fa-shopping-cart"></i></li>
            </ul>        
        </nav>
        <hr class="hr-nav">
    </header>

    <main>
        <div class="product-container">
            <div class="prod-box">
                <div class="prod-img-container">
                    <div class="prod-big-img">
                        <img src="/img/auriculares-1.jpg">
                    </div>
                    <div class="prod-small-img">
                        <img src="/img/auriculares-2.jpg">
                        <img src="/img/auriculares-3.jpg">
                        <img src="/img/auriculares-4.jpg">
                    </div> 
                </div> 
                <div class="prod-content">
                    <p>Categoria</p>
                    <h3 class="prod-title">AURICULARES GAMER</h3>
                    <div class="prod-price">$13.500</div>
                    <form action="">
                        <div class="prod-options">
                            <span>Elegí el color:</span>
                            <select name="" id="">
                                <option value="negro">Negro</option>
                                <option value="azul">Azul</option>
                                <option value="verde">Verde</option>
                            </select>
                        </div>
                        <div class="prod-options"> 
                            <span>Cuantas unidades:</span>
                            <input type="number" value="1">
                        </div>
                    </form>
                    <div class="prod-buttons">
                        <button class="prod-add-to-cart" href="#">Agregar al carrito</button>
                        <button class="prod-buy" href="#">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <section class="social"> 
            <p>Seguí a GamerLab</p>
            <div class="links">
                <a href="#">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="#">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        </section >
        
        <hr class="hr-footer">
        <section class="main-footer">
            <div class="footer-container">
                <ul class="columna1">
                    <li>
                        <a href="#">
                            <h3>Seguimiento de compras</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Cambios y devoluciones</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Formas de pago</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Información sobre envíos</h3>
                        </a>
                    </li>
                </ul>
                <ul class="columna2">
                    <li>
                        <a href="#">
                            <h3>Sobre nosotros</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Trabajá con nosotros</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Sucursales</h3>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <h3>Política</h3>
                        </a>
                    </li>
                </ul>
            </div>
         <h3 class="copy">
             GamberLab Copyrights
           <i class="far fa-registered"></i>
        </h3>       
        </section>

    </footer>
</body>
</html>