*{
    box-sizing: border-box;
}

body{
    font-family: 'Oswald', sans-serif;
    background-color: #010b17;
    margin:auto;
}


/*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*//*HEADER*/

.main-header{
    padding: 20px;
    width: 100vw;
    display: flexbox;
    flex-wrap: wrap;
}

.main-header-top-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 15px;
}

.main-header-bottom-bar{
    display: none;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 15px;
    align-items: center;
}

.main-header-bottom-bar ul {
    display: flex;
    flex-direction: row;
}

.main-header-bottom-bar li {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    margin: 10px;
}

.barra-izquierda{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo{
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    height: auto;
    width: 240px;
}

.icono-burger{
    color:#000;
    background-color:#fff;
    width: 40px;
    height: 40px;
    display:block;
    border-radius: 3px;
    padding:5px;
    font-size: 16px;
    text-align: center;
    margin: auto;
}

.icono-burger:hover{
    background-color:#143663;
}
.menu-productos {
    display: none;
    list-style-type: none
}

.menu-productos li {
    list-style: none;
    display: flex;
}

.menu-productos a {
    text-decoration: none;
    color: white;
    display: inline-block;
    font-size: 1.5em;
}

.menu-productos1 {

}

.barra-derecha{
    align-items: center;
    padding: 0 3px;
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
    margin:15px
}

.barra-derecha li a{
    padding: 0 3px;
    color:#fff;
}

.barra-derecha li a :hover{
    color:#143663;
}

.searchbar{
    position: relative;
    display: flex;
}

.search-form{
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    display: none;
}

.barra-buscadora{
    width: 100%;
    padding: 7px 35px 7px 7px;
    height: 40px;
    border: solid 1px #ebebeb;
    border-radius: 3px;
    font-size: 16px;
}

.search-button{
    position: absolute;
    bottom: 0px;
    height: 40px;
    width: 40px;
    right: 10px;
    border-radius: 3px;
    background-color: #ffffff;
    border: none;
    color: #666666;
    cursor: pointer;
}
.fa-search{
    color: #fff;
    display: inline
}
/*
.search-form{
    display: flex;
    padding: 8px 0;
    width: 20%;
    position: relative;
}
.search-button{
    position: absolute;
    bottom: 56px;
    height: 40%;
    right: 2px;
    border-radius: 3px;
    border-left: solid 1px #ebebeb;
    background-color: #ffffff;
    border: none;
    color: #666666;
    cursor: pointer;
}
.search-form-input {
    width: 100%;
    padding: 7px 35px 7px 7px;
    height: 40px;
    border: solid 1px #ebebeb;
    border-radius: 3px;
    font-size: 16px;
    display: block;
}
.icono-lupa {
    padding: 0;
    background: 0 0;
    line-height: 1em;
    color: #000;
}

*/


/*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*//*MAIN*/

main{
    text-align: center;
}

.banner{
    padding-top: 15px;
    width: 100%;
    cursor: pointer;
}

.titulos{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.products-wrapper {
    margin-top: 30px;
    margin-bottom: 30px;
}

.product-title {        
    font-size: 2.4em;
    font-weight: 400;
    color: blue;
}

.product-box {
    background-color: #fff;
    border-radius: 5px;
    margin: 20px 0;
  }

  .product-box img{
        margin-top: 10px;
        height: 250px;
  }
  
  .product-box a {
    display: block;
  }

/*
.hp-omen{
    padding-top: 15px;
    width:90vw;
    text-align: center;
    align-content: center;
    display: block;
    margin:auto;
    cursor: pointer;
}
.novedades{
    color: #fff;
    text-align: center;
    margin-top: 6vh;
    font-size: 2rem;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 90vw;
    margin:auto;
    justify-content: center;
    align-items: center;
    width: 80%;
    text-align: center;
}
.producto1{
    background-color: #143663;
    width:80vw;
    margin-bottom: 5%;
}
.producto1:hover{
    box-shadow: rgba(255, 255, 255, 0.5) 1px 5px 20px;
    cursor: pointer;
}
.producto1 img{
    max-width:100%;
    height:auto;
    max-height: 700px;
    margin:auto;
    padding: 20px;
}
.producto1 .silla-gamer{
    width: 100%;
    height: 80%;
    padding: 20px;
}
.producto1 .parlante{
    width: 100%;
    height: 80%;
    padding: 20px;
}
.producto1 .monitor {
    width: 100%;
    height: auto;
    padding: 20px;
}
.producto1 .teclado {
    width: 100%;
    height: auto;
    padding: 20px;
}
.productos img{
    margin-top: 5%;
}
.productos h3{
    font-size: 1rem;
    color: #fff;
    margin-top: 1.38vh;
    margin-bottom: 2.50vh;
    text-align: center;

}
.productos h4{
    font-size: 0.75rem;
    color: #fff;
    margin-top: 2%;
    text-align: center;
    margin-bottom: 5%;
}
*/

/*MAIN - NOTICIAS*//*MAIN - NOTICIAS*//*MAIN - NOTICIAS*//*MAIN - NOTICIAS*/

.noticias{
    color: #fff;
    text-align: center;
    margin-top: 6vh;
    font-size: 2rem;
}

.noticia-banner{
    background: url("/img/kru.jpg") no-repeat center top;
    background-size: 90vw;
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin:auto;
    width: 90%;
}

.noticia-banner{
    color:#fff;
    margin-bottom: 1vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px 50px 0;
}

.noticia-banner h4{
    font-size: 1rem;
    background-color: rgba(0,0,0,0.6);
    background-size: 50vw;
    margin:0 2.77vw;
}

.noticia-banner p{
    font-size: 0.70rem;
    background-color: rgba(0,0,0,0.6);
    background-size: 50vw;
    margin:1vh 2.77vw;
}

a.btn{
    cursor:pointer;
    display:inline-block;
    border:2;
    font-weight: 300;
    padding: 3px 3px;
    color:#fff;
    font-size: 12px;
    border:1px solid #fff;
    margin-bottom: 15px; 
}

.btn:hover{
    font-size:16px;
    color:#fff;
    border: 2px solid #fff;
}


/*FOOTER - REDES SOCIALES*//*FOOTER - REDES SOCIALES*//*FOOTER - REDES SOCIALES*/

.social{
    margin: 30px;
    position: relative;
}

.social p{
    text-align:center;
    font-size:1.5rem;
    margin-bottom:20px;
    color: #fff;
}

.links{
    display:flex;
    align-items:center;
    justify-content:center;
}

.links a{
    margin:0 30px;
}

.links a i{
    font-size:2rem;
    color:#fff
}

.links a i:hover{
    color:#143663;
}

/* PERFIL *//* PERFIL *//* PERFIL *//* PERFIL *//* PERFIL */
.perfil-box{
    display: block;
    flex-direction: column;
    padding: 20px;
}

.datoperfil{
}

.perfil{
    padding: 30px;
}


/* CARRITO DE COMPRAS*/ /* CARRITO DE COMPRAS*/ /* CARRITO DE COMPRAS*/

/*NO MUY RESPONSIVE AUN*/

.carrito-titulo{
    color:#fff;
    font-weight: 300;
}

.contenedor-resumen{
    width: 90vw;
    background-color: #143663;
    display: block;
    margin: auto;
    padding: 10px 5px;
    margin-bottom: 5vh;
}

.items{
    color:#fff;
    list-style-type: none;
    margin-top: 7vh;
}

.datos{
    color: #fff;
    font-weight: 200;
    font-size: 0.90rem;
    list-style-type: none;
    justify-content: space-between;
}

.titulo-resumen{
    color: #fff;
    font-weight: 200;
    list-style-type: none;
}

.resumen{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    flex-wrap: wrap;
}

.datos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.precio{
    padding-left: 90px;
}

.finalizar-compra{
    display: block;
    margin-top: 0.5vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.75vh;
}

.cuotas{
    list-style-type: none;
    color:#28aee2;
    padding-left: 4px;
    font-size: 0.75rem;
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
}

.fa-credit-card{
    color:#28aee2;
}

.cuotas-texto-icono{
    margin-top: 0.5vh;
}

.divisor{
    border-top: 0.2vh solid white;
    margin-top: 1.5vh;
    width:80%;
}

.contenedor-items{
    width: 90vw;
    display: block;
    margin: auto;
    background-color: #143663;
    padding: 10px;
}

.teclado{
    width: 15vw;
    height: auto;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 5px 20px;
}

.teclado-datos{
    display: inline-block;
    color:#fff;
    font-weight: 200;
    margin-left: 0.5vw;
}

.monitor-datos{
    display: inline;
    color:#fff;
    font-weight: 200;
    margin-left: 0.5vw;
}

.monitor{
    margin-left: 2vw;
    width: 15vw;
    height: auto;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 5px 20px;
}

.item-titulo{
    color:#fff;
    text-align: left;
    margin-left: 8vw;
}

.datos-pago{
    color:#fff;
}

.datos-pago ul{
    list-style-type: none;
    font-size: 0.8rem;
}

.datos-pago ul li{
    padding-left: 2vw;
}

.lista-nido{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 4vh;
    justify-content: center;
    align-items: center;
}


/*MAIN FOOTER*//*MAIN FOOTER*//*MAIN FOOTER*//*MAIN FOOTER*//*MAIN FOOTER*/

.hr-footer{
    width: 90%;
}

.main-footer{
    background:#010b17;
    padding:35px 0;
}

.footer-container{
    display:flex;
    flex-direction: row;
    gap:6.36vw;
    align-items:flex-start;
    justify-content: center;
}

.footer-container h3{
    color:#fff;
    font-size: 0.75rem;
    list-style-type: none;
}

.footer-container h3:hover{
    color:#143663
}

.footer-container ul{
    list-style-type: none;
}

.copy{
    display: flex;
    flex-direction: row;
    justify-content: start;
    padding-left: 50px;
    align-items: center;
    color:#fff;
    font-size: 0.75rem;
}

.fa-registered{
    margin-left: 0.55vw;
}


/*LOGIN*//*LOGIN*//*LOGIN*//*LOGIN*/

.formulario-login {
    font-size: 20px;
    text-align: center;
    padding: 50px;
    color: #fff;
    background-color: #143663;
    margin: 20vh 20vw;
    max-width: 90vw;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 20px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: flex;
}
.formulario-registro {
    font-size: 20px;
    text-align: center;
    padding: 50px;
    color: #fff;
    background-color: #143663;
    margin: 20vh 20vw;
    max-width: 90vw;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 20px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: flex;
}
.usuario,.contraseña,.cumpleaños,.email {
    margin-bottom: 2vw;
    justify-content: center;
    display: flex;
}

.usuariologin i {
    color: white;
    font-size: 60px;
    margin-bottom: 2vw;
}
.derecha .img-login{
    display: none;
}
.usuariologo i {
    color: white;
    font-size: 100px;
    margin-bottom: 4vw;
}


/*VISTA DE PRODUCTO*//*VISTA DE PRODUCTO*/ /*VISTA DE PRODUCTO*/ /*VISTA DE PRODUCTO*/ 

.vista-producto{
    width: 100%;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

.product-container{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 100px;
    background-color: #010b17;
}

.prod-box {
    width: 90%;
    margin-top: 40px;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    align-content: center;
    justify-content: center;
    box-shadow: 0 2px 5px black;
    background-color: #143663;
}

.prod-img-container {
    width: 100%;
    height: auto;
    padding: 2%;
    display: flex;
    flex-flow: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #143663;
}

.prod-big-img {
    padding: 2%;
    justify-content: center;
}

.prod-big-img img {
    width: 100%;
    border-radius: 4px;
}

.prod-small-img {
    padding: 2%;
    display: flex;
    flex-flow: row;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.prod-small-img img {
    width: 30%;
    border-radius: 4px;
}

.prod-content {
    width: 100%;
    height: auto;
    padding: 2%;
    background-color:#143663;
}

.prod-content p {
    font-style: italic;
    font-size: 1.5em;
    display: block; 
    text-align: left;
}

.prod-title {
    font-size: 2.8em;
    margin-top: .2em;
    text-align: center;
}

.prod-price {
    font-size: 2.5em;
    padding: 1%;
    margin-top: .5em;
    margin-bottom: .2em;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    border-top: 5px solid black;
    border-bottom: 5px solid black;
}

.prod-content form {
    width: 100%;
    padding: .4em;
    font-size: 1.4em;
    margin-bottom: .8em;
    margin-top: .8em;
}

.prod-options {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    align-items: center;
}

.prod-content span{
    min-width: 50px;
    font-size: 1.2em;
    text-align: left;
    text-align: center;
    align-content: center;
    align-items: center;
}

.prod-content select {
    width: 60px;
    height: 30px;
    border: none;
    font-size: .8em;
    text-align: center;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.prod-content input {
    width: 60px;
    height: 30px;
    border: none;
    font-size: .8em;
    text-align: center;
    border-radius: 4px;
    background-color: #f1f1f1;
}

.prod-buttons {
    height: auto;
    width: auto;
    border: none;
    font-size: 1.4em;
    margin-top: 1.5em;
    display: flex;
    justify-content: space-between;
}

.prod-add-to-cart {
    background-color: #28aee2;
    border: 5px solid #28aee2;
    border-radius: 4px;
}

.prod-buy {
    background-color: #9b0083;
    border: 5px solid #9b0083;
    border-radius: 4px;
}


/*FORMULARIOS DE PRODUCTO*//*FORMULARIOS DE PRODUCTO*//*FORMULARIOS DE PRODUCTO*/

.formulario-prod{
    font-size: 20px;
    text-align: center;
    padding: 50px;
    color: #fff;
    background-color: #143663;
    margin: 20vh 20vw;
    max-width: 90vw;
    box-shadow: rgba(0, 0, 0, 0.9) 0px 5px 20px;
    flex-direction: column;
    align-items: center;
    align-content: center;
    display: flex; 
}

.titulo-formulario{
    margin-bottom: 60px;
}

.formulario-producto{
    display: flex;
    padding: 20px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    text-align: start;
    flex-wrap: wrap;
}

.formulario-boton{
    margin-top: 60px;
    margin-bottom: 20px;
    width: 220px;
    height: 80px;
}

#foto-producto{
    height: 120px;
    width: 100%;
    background-color: #fff;
    color: #666666
}

.formulario-text, #formulario-text{
    width: 100%;
}



/*MEDIA QUERIES*//*MEDIA QUERIES*//*MEDIA QUERIES*//*MEDIA QUERIES*//*MEDIA QUERIES*/

@media(min-width:440px){
    .barra-entera{
        width:100vw;
    }
    .search-form{
        display: block;
    }
    .fa-search{
        display:none;
    }
    .search-form-input{
        display: flex;
    }
    
    .primerosDos{
        display: flex;
        flex-direction:row;
        width: 100%;
    }

    .segundosDos{
        display: flex;
        flex-direction: row;
        width: 100%;
    }
    .productoTeclado{
        margin-left: 2%;
    }
    .productoMonitor{
        margin-right: 2%;
    }
    .noticia-banner{
        max-height:300vh;
    }
    .productoSilla{
        margin-right: 2%;
    }
    .productoParlante{
        margin-left:2%;
    }
    .prod-content form {
        font-size: 1.8em;
    }
    .prod-content span{
        font-size: 1.5em;
    }
    .prod-content select {
        width: 80px;
        min-width: 80px;
        height: 40px;
    }
    .prod-content input {
        width: 80px;
        min-width: 80px;
        height: 40px;
        font-size: 1em;
    }
    .prod-buttons {
        font-size: 2.4em;
    }
}

@media(min-width:768px) {
    .prod-box {
        flex-flow: row;
        padding: 2%;
        max-width: 900px;
    }
    .prod-img-container {
        width: 45%;
    }
    .prod-content {
        width: 50%;
    }
    .prod-content span{
        font-size: 1em;
    }
    .productos{
        display:flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin:auto;
    }
    .primerosDos{
        width: 50%;
    }
    .segundosDos{
        width: 50%;
        margin-left: 2%;
    }

    .productoParlante{
        height: 100%;
        margin-top: 1%;
    }
    .productoSilla{
        height: 100%;
    }
    .producto1 .parlante{
    height: 72%;
    width: 72%;
    }
    .producto1 .silla-gamer{
        height: 65%;
        width: 65%;
    }
    .prod-content select {
        width: 80px;
        height: 30px;
        font-size: .8em;
    }
    .prod-content input {
        width: 80px;
        height: 30px;
        font-size: .8em;
    }
    .prod-buttons {
        font-size: 1.75em;
    }
    .contenedor-teclado{
        display: flex;
        flex-direction: row;
        margin-left:10vw;
        align-items: center;
    }
    .contenedor-monitor{
        display: flex;
        flex-direction: row;
        margin-left:8vw;
        align-items: center;
    }
    .derecha .img-login{
        display: inline-block;
        width: 100%;
        margin-left: 4%;
        height: auto;
    }
    .formulario-login{
        display: flex;
        flex-direction: row;
    }
    .formulario-registro {
        display: flex;
    }
    .datos-pago{
        justify-content: flex-end;
        margin-left: 15vw;
    }
    .botones-carrito{
        display: flex;
    }
    .icono-burger{
        display: none;
    }
    .main-header-bottom-bar{
        display: flex;
    }
}

@media(min-width:1200px) {
    .prod-box {
        max-width: 1080px;
    }
    .prod-title {
        margin-top: .2em;
        font-size: 4em;
    }
    .prod-price {
        font-size: 3.5em;
    }
    .prod-content span{
        font-size: 1.5em;
    }
    .prod-content select {
        width: 100px;
        height: auto;
    }
    .prod-content input {
        width: 100px;
        height: auto;
    }
    .prod-buttons {
        font-size: 2.5em;
    }
    .icono-burger {
        display: none;
    }
}
